.why .container h1 {
    text-align: center;
}

.why .container {
    
    font-size: 120%;
    background-color: black;
    color: aliceblue;
}

.why {
    background-color: crimson;
    margin-bottom: 15%;
}